@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {

  /* Default Theme (Yellow) */
  :root {
    --background: oklch(96.79% 0.0654 102.26);
    --secondary-background: oklch(100% 0 0);
    --foreground: oklch(0% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(86.03% 0.176 92.36);
    --border: oklch(0% 0 0);
    --ring: oklch(0% 0 0);
    --overlay: oklch(0% 0 0 / 0.8);
    --shadow: 4px 4px 0px 0px var(--border);
    --chart-1: #FACC00;
    --chart-2: #7A83FF;
    --chart-3: #FF4D50;
    --chart-4: #00D696;
    --chart-5: #0099FF;
    --chart-active-dot: #000;
    --radius: 0.5rem;
  }

  .dark {
    --background: oklch(29.28% 0.0373 94.38);
    --secondary-background: oklch(23.93% 0 0);
    --foreground: oklch(92.49% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(79.36% 0.1624 92.49);
    --border: oklch(0% 0 0);
    --ring: oklch(100% 0 0);
    --shadow: 4px 4px 0px 0px var(--border);
    --chart-1: #E0B700;
    --chart-2: #7A83FF;
    --chart-3: #FF6669;
    --chart-4: #00BD84;
    --chart-5: #008AE5;
    --chart-active-dot: #fff;
  }

  /* Amber */
  [data-theme="amber"] {
    --background: oklch(96.22% 0.0569 95.61);
    --main: oklch(84.08% 0.1725 84.2);
    --chart-1: #FFBF00;
  }

  [data-theme="amber"] .dark,
  .dark [data-theme="amber"] {
    --background: oklch(28.91% 0.0359 90.09);
    --main: oklch(77.7% 0.1593880864006951 84.38427202675717);
    --chart-1: #E5AC00;
  }

  /* Rose */
  [data-theme="rose"] {
    --background: oklch(93.37% 0.0339 12.05);
    --main: oklch(70.79% 0.1862 16.25);
    --chart-1: #FF6678;
  }

  [data-theme="rose"] .dark,
  .dark [data-theme="rose"] {
    --background: oklch(25.15% 0.0495 7.54);
    --main: oklch(67.58% 0.2135 18.63);
    --chart-1: #FF4D61;
  }

  /* Pink */
  [data-theme="pink"] {
    --background: oklch(95.16% 0.0242 343.23);
    --main: oklch(71.5% 0.197 354.23);
    --chart-1: #FC64AB;
  }

  [data-theme="pink"] .dark,
  .dark [data-theme="pink"] {
    --background: oklch(26.3% 0.054 358.23);
    --main: oklch(65.98% 0.2407 358.64);
    --chart-1: #FB3290;
  }

  /* Lime */
  [data-theme="lime"] {
    --background: oklch(95.37% 0.0549 125.19);
    --main: oklch(83.29% 0.2331 132.51);
    --chart-1: #8AE500;
  }

  [data-theme="lime"] .dark,
  .dark [data-theme="lime"] {
    --background: oklch(23.1% 0.0346 126.75);
    --main: oklch(76.26% 0.21309 132.4002);
    --chart-1: #7ACC00;
  }

  /* Green */
  [data-theme="green"] {
    --background: oklch(96.47% 0.0401 157.79);
    --main: oklch(79.76% 0.2044 153.08);
    --chart-1: #00D696;
  }

  [data-theme="green"] .dark,
  .dark [data-theme="green"] {
    --background: oklch(22.45% 0.0316 158.41);
    --main: oklch(73.03% 0.1865 153.23);
    --chart-1: #00BD84;
  }

  /* Emerald */
  [data-theme="emerald"] {
    --background: oklch(95.31% 0.0496 169.04);
    --main: oklch(77.54% 0.1681 162.78);
    --chart-1: #00D696;
  }

  [data-theme="emerald"] .dark,
  .dark [data-theme="emerald"] {
    --background: oklch(22.71% 0.0252 182.05);
    --main: oklch(70.54% 0.1525 162.97);
    --chart-1: #00BD84;
  }
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  /* Fonts */
  --font-public-sans: var(--font-public-sans);
  --font-dm-sans: var(--font-dm-sans);
  --font-archivo: var(--font-archivo);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --font-work-sans: var(--font-work-sans);
  --font-red-hat-text: var(--font-red-hat-text);

  /* Shadcn Semantic Mapping */
  --color-primary: var(--main);
  --color-primary-foreground: var(--main-foreground);

  --color-secondary: var(--secondary-background);
  --color-secondary-foreground: var(--foreground);

  --color-muted: var(--secondary-background);
  --color-muted-foreground: var(--foreground);

  --color-accent: var(--main);
  --color-accent-foreground: var(--main-foreground);

  --color-destructive: oklch(0.577 0.245 27.325);
  /* Default Shadcn red */
  --color-destructive-foreground: oklch(0.985 0 0);
  /* White-ish */

  --color-popover: var(--background);
  --color-popover-foreground: var(--foreground);

  --color-card: var(--background);
  --color-card-foreground: var(--foreground);

  --color-input: var(--border);
}

@layer base {
  body {
    @apply text-foreground font-public-sans bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@utility pattern-dot-lg {
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}