@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: oklch(100% 0 0);
    --secondary-background: oklch(96.22% 0.0569 95.61);
    --foreground: oklch(0% 0 0);
    --main-foreground: oklch(0% 0 0);
    --border: oklch(0% 0 0);
    --ring: oklch(0% 0 0);
    --overlay: oklch(0% 0 0 / 0.8);
    --shadow: 4px 4px 0px 0px var(--border);
    --radius: 0.5rem;

    /* Default (Amber) */
    --main: oklch(84.08% 0.1725 84.2);
    --chart-1: #FFBF00;
  }

  .theme-blue {
    --main: oklch(70.76% 0.165 254.6);
    --chart-1: #0099FF;
  }

  .theme-green {
    --main: oklch(79.78% 0.165 145.6);
    --chart-1: #00D696;
  }

  .theme-rose {
    --main: oklch(79.27% 0.165 12.6);
    --chart-1: #FF7A05;
  }
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;

  /* Fonts */
  --font-public-sans: var(--font-public-sans);
  --font-dm-sans: var(--font-dm-sans);
  --font-archivo: var(--font-archivo);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --font-work-sans: var(--font-work-sans);
  --font-red-hat-text: var(--font-red-hat-text);

  /* Shadcn Semantic Mapping */
  --color-primary: var(--main);
  --color-primary-foreground: var(--main-foreground);

  --color-secondary: var(--secondary-background);
  --color-secondary-foreground: var(--foreground);

  --color-muted: var(--secondary-background);
  --color-muted-foreground: var(--foreground);

  --color-accent: var(--main);
  --color-accent-foreground: var(--main-foreground);

  --color-destructive: oklch(0.577 0.245 27.325);
  /* Default Shadcn red */
  --color-destructive-foreground: oklch(0.985 0 0);
  /* White-ish */

  --color-popover: var(--background);
  --color-popover-foreground: var(--foreground);

  --color-card: var(--background);
  --color-card-foreground: var(--foreground);

  --color-input: var(--border);
}

@layer base {
  body {
    @apply text-foreground font-public-sans bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}